* {

	border: 0%;
	padding: 0%;
	margin: 0%;
	font-family: Arial black, Arial, Tahoma, Serif;
}


#div1 {

	height: 100vh;

}

.divSecciones {

	display: flex;
	justify-content: center;

}


header {

	background-color: black;
	height: 15vh;
	position: fixed;
   	top: 0px;
   	text-align: center;
   	display: flex;
	justify-content: space-between;
}

#primerTexto {

	color: #FF4500;
	padding-top: 2vh;
}

#titulo {

	text-decoration: none;
	padding-top: 4vh;
	text-align: center;

}

#divPerfil {

	display: flex;
	align-items: center;

}

#username {

	color: #FF4500;
	text-decoration: none;
	padding-right: 0.5vw;
	border-right: 2px solid;
	border-color: white;

}

#logout {

	color: #FF4500;
	text-decoration: none;
	padding-left: 0.5vw;

}

#imagenPerfil {

	margin-left: 180%;
	width: 2.5vw;
	height: 5vh;
}

#logo {

	width: 400px;

}

footer {

	background-color: black;
	height: 15vh;
	color: #FF4500;
	text-align: center;
	position: fixed;
	bottom: 0;
	padding: 2vh;

}

.logos {

	width: 30px;
	height: 30px;
	margin-left: 1vw;
	margin-bottom: 2vh;

}

#login {

	margin-top: 20vh;

}

#botonModFinal {

	margin-top: 3%;

}

#parrafoMod {

	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%; 

}

#Redes {

	margin-top: 2vh;
	width: 10vw;

}

#botonAna {

	margin-top: 2vh;

}